---
import Layout from '../layouts/Layout.astro';
import LMSHero from '../components/LMSHero.astro';
import LMSDefinition from '../components/LMSDefinition.astro';
import LMSFeatures from '../components/LMSFeatures.astro';
import LMSTrainingExamples from '../components/LMSTrainingExamples.astro';
import LMSPlatforms from '../components/LMSPlatforms.astro';
import LMSCTA from '../components/LMSCTA.astro';
---

<Layout>
	<main class="lms-page">
		<LMSHero />
		<LMSDefinition />
		<LMSFeatures />
		<LMSTrainingExamples />
		<LMSPlatforms />
		<LMSCTA />
	</main>
</Layout>

<style>
	.lms-page {
		background: var(--bg-primary);
		min-height: 100vh;
	}
</style>
